DATABASE_URL=postgres://sge:{POSTGRES_PASSWORD}@{DB_HOST_ADDR}/sge_tracker
POSTGRES_PASSWORD=change-me
BIND_ADDR=127.0.0.1:8888
DB_MAX_CONNECTIONS=4
SYNC_INTERVAL_SECS=120
OPENLIGADB_BASE_URL=https://api.openligadb.de
TEAM_ID=91
#'shortcut:season:league_id:has_table,shortcut:...'
LEAGUE_LIST='bl1:2026:4937:true'
LOG_LEVEL='info,tower_http=debug'
